<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <header>
        <%- include('./partials/header', {current: `formProductos`}) %>
    </header>

    <div class="jumbotron">
        <main>
            <div class="jumbotron">
                <h1 class="display-4">Desafío 20</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum sapiente architecto aut a sed earum voluptatem aliquam et, officiis at voluptatum sunt accusantium. Voluptate provident exercitationem minima. Asperiores, obcaecati voluptate?</p>
            </div>
        </main>
    </div>
</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>